
        html {
            height: 100%;
        }

        body {
            width: 100%;
             height: 100%;
            min-height: 100%;
          background: white;
         overflow-y: scroll;
      /*  overflow-x: hidden; */}



      .maket {
         display: none;
        position: absolute;
         width: 100%;
         height: 840%;
         z-index: -1;
         top: 0;
          left: 0;
          right: 0;
          bottom: 0;}

       .maket::before {
         opacity: .3;
         background: url('../Images/Maket.png')  center no-repeat;
         background-size: auto 100% ;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;}




      /* ___________ 1-2 ЭКРАН ОБЕРТКА______________ */

      .screen-1 , .about {
        position: relative;
        display: block;
        z-index: 3;
        width: 90%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%);}

      /* ___________ 1 ЭКРАН контент______________ */

      .text_1scr {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 40%;}

      .screen-1 h1 , .screen-1 p , .screen-1 h2, .about h1 , .about p , .about h2  {
        position: relative;
        display: inline-block;
        width: 70%;
        padding-left: 19%;}

      .screen-1 h1 {
      padding-top: 46%;}

    .screen-1 h2 {
    padding-top: 3%;}

      .screen-1 p {
    padding-top: 14%;}

      .graphics {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 56%;
        top: 1%;}

      .screen-1 img {
        width: 110%;}

      .button {
        width: 50%;
        height: 7%;
        margin-left: 19%;
        margin-top: 7%;
      border: 0.1vh solid black;
      border-radius: 0.5vh;}

      .button p {
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 5%;
      }

      /* ____ 1 ЭКРАН текст______ */

      .screen-1 h1 {
        font-size: 3.1em;
        line-height: 1.1;}

      .screen-1 h2 {
        font-size: 2em;
        line-height: 1;}

      .screen-1 p {
        font-size: 1.5em;
        line-height: 1;}

        .button p {
          font-size: 1.3em;
          line-height: 1;}

        /* __________О ПРОЕКТЕ КОНТЕНТ______________ */
        .graphics h1 {
          padding-top: 16%;
          padding-left: 11%;
          font-size: 3.4em;
          line-height: 1;}

        .why {
          padding-top: 22%;
        padding-bottom: 32%;}

        .about p {
          font-size: 1.28em;
          line-height: 1;
          padding-top: 4%;}


/* _________ГРАФИКА______________ */
.big_pic {
  position: relative;
  display: block;
  z-index: 3;
  width: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);}

.big_pic_wrap {
text-align: center;
padding-top: 2%;}

.big_pic img {
  text-align: center;
  height: 100%;
  width: 80%;
}

/* _________ПРЕИМУЩЕСТВА______________ */

.Premium {
  position: relative;
  display: block;
  z-index: 3;
  width: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  padding-bottom: 10%;}

  .question {
    position: relative;
    display: block;
    padding-top: 12%;
    padding-bottom: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);}


.question h3 {
  text-align: center;
  font-size: 3.3em;
  line-height: 1;}


.plus {
  list-style: none;
  padding: 2% 6%;
  margin: 0;
  display: grid;
  row-gap: 13%;
  column-gap: 5.3%;
  grid-template-columns: .1fr 1fr 1fr;
  grid-template-rows: repeat(2,minmax(16vw,auto));
  top: 10%;}

*, :after, :before {
    box-sizing: inherit;}


.plus li {
      width: 100%;}

.plus h1 {
  font-size: 2.1em;
  line-height: 1;}

  .plus p {
    padding-top: 14%;
    font-size: 1.3em;}

  /* _________ТЕМНЫЙ БЛОК______________ */

    .dark {
      position: relative;
      display: block;
      z-index: -1;
      width: 100%;
      background-color: #222028;
      padding-bottom: 10%;}

    .digits {
      position: relative;
      display: block;
      width: 90%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%);}

  .digits p, .digits h1 {
    color: white;
    padding-top: 8%;
    padding-left: 6%;
    font-size: 1.3em;}

.dig {
  padding-left: 7%;
}

.d-block-2 , .d-block-1 , .d-block-3 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 4%;
}

.d-block-2 h1 , .d-block-1 h1 , .d-block-3 h1 {
  font-size: 11em;}

  .d-block-2 p , .d-block-1 p , .d-block-3 p {
    font-size: 2em;
    width: 20%;}


    /* ________ФУНКЦИИ______________ */

  .functions , .big-text h1 {
position: relative;
display: block;
padding-top: 7%;
z-index: 3;
width: 90%;
left: 50%;
margin-right: -50%;
transform: translate(-50%);
  }

  .big-text h1 {
    color: white;
    width: 70%;
    font-size: 5.6em;
    text-align: center;}

    .functions p {
        color: white;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 22%;
        font-size: 1.5em;}

.func-1 p {
    padding-top: 12%;
    padding-left: 8%;
    padding-right: 3%;}

.func-2 p {
  padding-top: 10%;
padding-left: 22%;
  padding-right: 0;}

.func-2 p:nth-child(even) {
    padding-left: 18%;}

        .functions img {
          position: absolute;}

        .thing_1 {
        top: 48%;
        left: 8%;
      width: 20%;}

        .thing_2 {
          top: 53%;
          left: 38%;
          width: 26%;}

        .thing_3 {
          top: 67%;
        left: 19%;
          width: 20%;}

          .thing_4 {
            top: 69%;
            left: 59%;
              width: 19%;}

            .thing_5 {
              top: 51%;
              left: 72%;
              width: 20%;}

/* _________________ФУНКЦИИ______________ */

.rreview {
  position: relative;
  display: block;
  z-index: 3;
  width: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);}

.rreview h1 {
    width: 70%;
    font-size: 3.4em;
    padding-top: 9%;
    padding-left: 7%;}

  .photo {
     position: relative;
      display: inline-block;
      vertical-align: top;
      width: 35%;
      top: 1%;}

    .photo img {
      position: relative;
      display: block;
      vertical-align: top;
      width: 90%;}

.rewtext {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;}

.rewtext h1 {
width: 70%;
font-size: 2.2em;}

.rewtext h1:first-child {
  padding-top: 18%;
  padding-left: 1%;}

  .rewtext h1:nth-child(3) {
    padding-top: 38%;
    padding-left: 1%;}

    .rewtext h1:nth-child(5) {
      padding-top: 40%;
      padding-left: 1%;}

  .rewtext p {
    width: 90%;
    font-size: 1.3em;
    padding-top: 5%;}

    /* _________________ФУТОР______________ */

    .futor {
      position: relative;
      display: block;
      z-index: 3;
      padding-top: 14%;
      width: 90%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%);}

    .line {
      height: 0.1vh;
      background-color: black;}

    .lets-half , .half {
      position: relative;
       display: inline-block;
       vertical-align: top;
      width: 47%;
       top: 1%;}

      .lets-half h2 {
        width: 100%;
      font-size: 2em;
      padding-top: 2%;
      padding-left: 18%;}

    .half .button {
      margin-left: 45%;
      margin-top: 4%; }

  .men {
    margin-left: 48%;}

    .men p {
      position: relative;
       display: inline-block;
       vertical-align: top;
      font-size: 1em;
      padding-top: 4%;
      padding-left: 5%;
    }
